@using Project_ASPNETMVC_2020.Areas.Admin.ClassToConfig
@using Project_ASPNETMVC_2020.Model.EF
@using Project_ASPNETMVC_2020.ClassToConfig
@model System.Collections.ArrayList
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
    var listProduct = (List<product>)Model[0];
}

@section scripts{
}
@section styles{
    <link rel="stylesheet" href="@Url.ContentAssetAdmin("css/style.css",true)">
}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Danh Sách Sản Phẩm</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12  ">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">



                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th>
                                        <div class="icheckbox_flat-green" style="position: relative;">
                                            <input type="checkbox"
                                                   id="check-all" class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper"
                                                                                                                            style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                    </th>
                                    <th class="column-title">Mã Số </th>
                                    <th class="column-title">Tên Sản Phẩm </th>
                                    <th class="column-title">Hãng </th>
                                    <th class="column-title">Giá Tiền </th>
                                    <th class="column-title">Hình Ảnh</th>
                                    <th class="column-title">Số Lượng</th>
                                    <th class="column-title no-link last">
                                        <span class="nobr">Action</span>
                                    </th>
                                    <th class="bulk-actions" colspan="7">
                                        <a class="antoo" style="color:#fff; font-weight:500;">
                                            Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i>
                                        </a>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (int i = 0; i < listProduct.Count; i++)
                                {
                                    string oddoreven = "";
                                    if(i==0 || (i / 2) == 0)
                                    {
                                        oddoreven = "even";
                                    }
                                    else
                                    {
                                        oddoreven = "odd";
                                    }
                                    <tr class="@oddoreven pointer">
                                        <td class="a-center ">
                                            <div class="icheckbox_flat-green" style="position: relative;">
                                                <input type="checkbox"
                                                       class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper"
                                                                                                                                      style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                            </div>
                                        </td>
                                        <td class=" ">@listProduct[i].ID_PRODUCT</td>
                                        <td class=" ">@listProduct[i].NAME </td>
                                        <td class=" ">@listProduct[i].ID_BRAND</td>
                                        <td class=" ">@listProduct[i].PRICE.Value.ToString("N0") VNĐ</td>
                                        <td class=" ">
                                            <img class="img-danh-sach-san-pham"
                                                 src="@Url.ContentAssetWeb("images/sanpham/"+listProduct[i],true)" alt="">
                                        </td>
                                        <td class="a-right a-right ">@listProduct[i].AMOUNT</td>
                                        <td class=" last">
                                            <a href="">View </a>
                                            <a href=""><i class="fas fa-trash-alt"></i></a>
                                            <a href=""><i class="far fa-edit"></i></a>
                                        </td>
                                    </tr>
                                }

                              

                            </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- /page content -->
