@using Project_ASPNETMVC_2020.ClassToConfig;
@using Project_ASPNETMVC_2020.Model.EF
@using System.Data.Entity
@model Project_ASPNETMVC_2020.Model.EF.product
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_LayoutForUser.cshtml";
    double price;
    if (Model.SALE_RATE == 0)
    {
        price = Model.PRICE.Value;
    }
    else
    {
        price = (double)(Model.PRICE.Value - (Model.PRICE.Value * ((double)Model.SALE_RATE.Value / 100)));

    }

}
@section styles {
    <link rel="stylesheet" type="text/css" href="@Url.ContentAssetWeb("plugins/OwlCarousel2-2.2.1/owl.carousel.css")">
    <link rel="stylesheet" type="text/css" href="@Url.ContentAssetWeb("plugins/OwlCarousel2-2.2.1/owl.theme.default.css")">
    <link rel="stylesheet" type="text/css" href="@Url.ContentAssetWeb("plugins/OwlCarousel2-2.2.1/animate.css")">
    <link rel="stylesheet" type="text/css" href="@Url.ContentAssetWeb("styles/product_styles.css")">
    <link rel="stylesheet" type="text/css" href="@Url.ContentAssetWeb("styles/product_responsive.css")">
    <link rel="shortcut icon" href="@Url.ContentAssetWeb("images/logo-blue.png")">
    <link rel="stylesheet" href="@Url.ContentAssetWeb("styles/thong_tin.css")">
    <link rel="stylesheet" href="@Url.ContentAssetWeb("styles/thong_tin-chi_tiet.css")">
    <link rel="stylesheet" type="text/css" href="@Url.ContentAssetWeb("styles/product_comment_style.css")">
    <link rel="stylesheet" type="text/css" href="@Url.ContentAssetWeb("styles/style.css")">
}
<!-- Single Product -->

<div class="single_product">
    <div class="container">
        <div class="row">

            <!-- Images -->
            <div class="col-lg-2 order-lg-1 order-2">
                <ul class="image_list">
                    <li data-image="@Url.ContentAssetWeb("images/sanpham/"+Model.IMG,true)">
                        <img src="@Url.ContentAssetWeb("images/sanpham/"+Model.IMG,true)" alt="">
                    </li>
                    <li data-image="@Url.ContentAssetWeb("images/sanpham/"+Model.IMG2,true)">
                        <img src="@Url.ContentAssetWeb("images/sanpham/"+Model.IMG2,true)" alt="">
                    </li>
                    <li data-image="@Url.ContentAssetWeb("images/sanpham/"+Model.IMG2,true)">
                        <img src="@Url.ContentAssetWeb("images/sanpham/"+Model.IMG3,true)" alt="">
                    </li>
                </ul>
            </div>

            <!-- Selected Image -->
            <div class="col-lg-5 order-lg-2 order-1">
                <div class="image_selected"><img src="@Url.ContentAssetWeb("images/sanpham/"+Model.IMG,true)" alt=""></div>
            </div>
            <!-- Left Information -->
            <div class="col-lg-5 order-lg-2 order-1">

                <div class="tableparameter">

                    <h2 class="ten-san-pham">@Model.NAME</h2>

                    <span class="gia-san-pham">@price.ToString("N0") vnđ</span>
                    <br>
                    <del class="gia-goc-san-pham">@Model.PRICE.Value.ToString("N0") vnđ       </del>
                    <span class="giam-gia" style="color:red">    @Model.SALE_RATE.Value.ToString()%</span>
                    <br>
                    <br>
                    <span class="mo-ta-san-pham">
                        @Model.DESCRIPTION.ToString();
                    </span>
                    <br>
                    <br>
                    <div class="form-group">
                        <div class="row mua-hang-1">
                            <div class="col-md-6">
                                <label for=""><strong>Số Lượng :</strong></label>
                                <input type="number" class="form-control" name="" id="" placeholder="1">
                            </div>
                            <div class="col-md-6 chon-mau">
                                <label for="select-"><strong>Chọn Màu</strong></label>
                                <select class="form-control" name="select-color" id="select-color">
                                    <option><span>Đen</span></option>
                                    <option><span>Trắng</span></option>
                                    <option><span>Xanh</span></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mua-hang-2">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-primary form-control btn-dat-hang">
                                    <i class="fas fa-shopping-cart"></i> Đặt Hàng
                                </button>
                            </div>
                            <div class="col-md-6">
                                <label for="yeu-thich"><strong>Yêu Thích :</strong></label>
                                <div class="product_fav"><i id="yeu-thich" class="fas fa-heart"></i></div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="viewparameterfull" data-toggle="modal"
                            data-target="#myModal2">
                        Xem thêm cấu hình chi
                        tiết
                    </button>


                    <div class=" closebtn none">
                        <i class="icondetail-closepara"></i>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal2" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="fullparameter" style="display: block;">
                                    <div class="scroll">
                                        <table id="chi-tiet" cellspacing="0"
                                               class="table table-bordered table-detail table-striped">
                                            <colgroup>
                                                <col style="width: 25%;">
                                                <col>
                                            </colgroup>
                                            <tbody>
                                                <tr>
                                                    <td> Thương hiệu </td>
                                                    <td> @Model.ID_BRAND </td>
                                                </tr>
                                                <tr>
                                                    <td> Phụ kiện đi kèm </td>
                                                    <td>
                                                        Adapter sạc, tai nghe, cáp Micro USB, sách hướng dẫn,
                                                        cây lấy sim
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> Loại / Công nghệ màn hình </td>
                                                    <td> Dynamic AMOLED </td>
                                                </tr>
                                                <tr>
                                                    <td> Camera trước </td>
                                                    <td> 10.0 MP </td>
                                                </tr>
                                                <tr>
                                                    <td> Camera sau </td>
                                                    <td> 12.0 MP + 16.0 MP + 12.0 MP + VGA </td>
                                                </tr>
                                                <tr>
                                                    <td> Tính năng camera </td>
                                                    <td>
                                                        Zoom quang học, Chụp ảnh xóa phông, Chế độ Slow Motion,
                                                        A.I Camera, Điều chỉnh khẩu độ, Super Slow Motion (quay
                                                        siêu chậm), Tự động lấy nét, Chạm lấy nét, Nhận diện
                                                        khuôn mặt, HDR, Panorama, Chống rung quang học (OIS),
                                                        Làm đẹp (Beautify), Chế độ chụp chuyên nghiệp (Pro),
                                                        Camera góc rộng, Tự động lấy nét, Quay video Full HD,
                                                        Nhận diện khuôn mặt, Chế độ làm đẹp
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> Đèn Flash </td>
                                                    <td> Có </td>
                                                </tr>
                                                <tr>
                                                    <td> Video call </td>
                                                    <td> Hỗ trợ VideoCall thông qua ứng dụng </td>
                                                </tr>
                                                <tr>
                                                    <td> Quay phim </td>
                                                    <td> Có </td>
                                                </tr>
                                                <tr>
                                                    <td> Bộ nhớ RAM </td>
                                                    <td> @Model.RAM GB </td>
                                                </tr>
                                                <tr>
                                                    <td> Bộ nhớ trong (ROM) </td>
                                                    <td> @Model.MEMORY GB </td>
                                                </tr>
                                                <tr>
                                                    <td> Bộ nhớ còn lại (khả dụng) </td>
                                                    <td> 224.2GB </td>
                                                </tr>
                                                <tr>
                                                    <td> Hỗ trợ thẻ nhớ ngoài </td>
                                                    <td> MicroSD </td>
                                                </tr>
                                                <tr>
                                                    <td> Hỗ trợ thẻ tối đa </td>
                                                    <td> Up to 1TB </td>
                                                </tr>
                                                <tr>
                                                    <td> Trọng lượng </td>
                                                    <td> 196g </td>
                                                </tr>
                                                <tr>
                                                    <td> Kích thước </td>
                                                    <td> 162.3 x 77.2 x 7.9 mm </td>
                                                </tr>
                                                <tr>
                                                    <td> Tên chip </td>
                                                    <td> Exynos 9825 8 nhân 64-bit </td>
                                                </tr>
                                                <tr>
                                                    <td> Tốc độ chip (GHz) </td>
                                                    <td> 2 nhân 2.73 GHz, 2 nhân 2.4 GHz & 4 nhân 1.9 GHz </td>
                                                </tr>
                                                <tr>
                                                    <td> Chip đồ họa (GPU) </td>
                                                    <td> Mali-G76 MP12 </td>
                                                </tr>
                                                <tr>
                                                    <td> Dung lượng pin (mAh) </td>
                                                    <td> 4300 mAh </td>
                                                </tr>
                                                <tr>
                                                    <td> Loại pin </td>
                                                    <td> Pin chuẩn Li-Ion </td>
                                                </tr>
                                                <tr>
                                                    <td> Pin có thể tháo rời </td>
                                                    <td> Pin liền </td>
                                                </tr>
                                                <tr>
                                                    <td> Kết nối dữ liệu </td>
                                                    <td> Bluetooth, Wifi, 3G, 2G, 4G, NFC </td>
                                                </tr>
                                                <tr>
                                                    <td> Loại Sim </td>
                                                    <td> SIM Nano </td>
                                                </tr>
                                                <tr>
                                                    <td> Số khe sim </td>
                                                    <td> 2 SIM Nano (SIM 2 chung khe thẻ nhớ) </td>
                                                </tr>
                                                <tr>
                                                    <td> Wifi </td>
                                                    <td>
                                                        Wi-Fi 802.11 a/b/g/n/ac, Dual-band, Wi-Fi Direct, Wi-Fi
                                                        hotspot
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> GPS </td>
                                                    <td> BDS, A-GPS, GLONASS </td>
                                                </tr>
                                                <tr>
                                                    <td> Bluetooth </td>
                                                    <td> apt-X, LE, A2DP, v5.0 </td>
                                                </tr>
                                                <tr>
                                                    <td> NFC </td>
                                                    <td> Có </td>
                                                </tr>
                                                <tr>
                                                    <td> Kết nối khác </td>
                                                    <td> OTG </td>
                                                </tr>
                                                <tr>
                                                    <td> Cổng sạc </td>
                                                    <td> USB Type-C </td>
                                                </tr>
                                                <tr>
                                                    <td> Jack tai nghe </td>
                                                    <td> Type-C </td>
                                                </tr>
                                                <tr>
                                                    <td> Xem phim </td>
                                                    <td> Có </td>
                                                </tr>
                                                <tr>
                                                    <td> Nghe nhạc </td>
                                                    <td> Có </td>
                                                </tr>
                                                <tr>
                                                    <td> Ghi âm </td>
                                                    <td> Có </td>
                                                </tr>
                                                <tr>
                                                    <td> FM radio </td>
                                                    <td> Không </td>
                                                </tr>
                                                <tr>
                                                    <td> Chức năng khác </td>
                                                    <td>
                                                        Chuẩn Kháng nước, Chuẩn kháng bụi Đèn pin Sạc pin
                                                        nhanh Mặt kính 2.5D Chặn tin nhắn Tản nhiệt nước carbon
                                                        Samsung Pay Trợ lý ảo Samsung Bixby Màn hình luôn hiển
                                                        thị AOD Chặn cuộc gọi, Mở khóa bằng khuôn mặt, Quét mống
                                                        mắt, Mở khoá vân tay dưới màn hình
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> SKU </td>
                                                    <td> 4.24343E+12 </td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>






</div>


<!-- Comment -->
<div class="container danh-gia-binh-luan">
    <div class="danh-gia">
        <div class="row danh-gian-phan-1">
            <div class="col-md-1"></div>
            <div class="col-md-10 bg-form-danh-gia">
                <div class="row form-danh-gia">
                    <div class="col-md-2 show-view-star-left">
                        <span class="total-star">4.3</span>
                        <i class="fas fa-star star"></i>
                    </div>
                    <div class="col-md-7 show-view-star-right">
                        <div class="row">
                            <div class="side">
                                <div>
                                    <span class="span-diem-star">5 </span><i class="fas fa-star star"></i>
                                </div>
                            </div>
                            <div class="middle">
                                <div class="bar-container">
                                    <div class="bar-5"></div>
                                </div>
                            </div>
                            <div class="side right">
                                <div><span class="sl-danh-gia">150 đánh giá</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="side">
                                <div>
                                    <span class="span-diem-star">4 </span><i class="fas fa-star star"></i>
                                </div>
                            </div>
                            <div class="middle">
                                <div class="bar-container">
                                    <div class="bar-4"></div>
                                </div>
                            </div>
                            <div class="side right">
                                <div><span class="sl-danh-gia">60 dánh giá</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="side">
                                <div>
                                    <span class="span-diem-star">3 </span><i class="fas fa-star star"></i>
                                </div>
                            </div>
                            <div class="middle">
                                <div class="bar-container">
                                    <div class="bar-3"></div>
                                </div>
                            </div>
                            <div class="side right">
                                <div><span class="sl-danh-gia">15 đánh giá</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="side">
                                <div>
                                    <span class="span-diem-star">2 </span><i class="fas fa-star star"></i>
                                </div>
                            </div>
                            <div class="middle">
                                <div class="bar-container">
                                    <div class="bar-2"></div>
                                </div>
                            </div>
                            <div class="side right">
                                <div><span class="sl-danh-gia">5 đánh giá</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="side">
                                <div>
                                    <span class="span-diem-star">1 </span><i class="fas fa-star star"></i>
                                </div>
                            </div>
                            <div class="middle">
                                <div class="bar-container">
                                    <div class="bar-1"></div>
                                </div>
                            </div>
                            <div class="side right">
                                <div><span class="sl-danh-gia">20 đánh giá</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 show-view-star-btn">
                        <button type="button" class="btn btn-primary btn-danh-gia" id="show-bieu-mau-danh-gia"
                                onmousedown="doiNutBam()" data-toggle="collapse"
                                data-target="#bieu-mau-danh-gia">
                            Đánh
                            Giá
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row danh-gian-phan-2">
            <div class="col-md-1"></div>
            <div class="col-md-10 collapse" id="bieu-mau-danh-gia">
                <div class="bieu-mau-danh-gia">
                    <form class="form-group" action="">
                        <div class="row form-danh-gia-phan-1">
                            <div class="rating">
                                <input type="hidden" name="value-rating" id="value-rating" value="0">
                                <span>Chọn đánh giá sao của bạn :</span>
                                <ul>
                                    <li>
                                        <i id="s1" onmousemove="danhGiaSao(1)" onmousedown="trotDanhGiaSao(1)"
                                           onmouseout="huyDanhGiaSao()" class="far fa-star star"></i>
                                    </li>
                                    <li>
                                        <i id="s2" onmousemove="danhGiaSao(2)" onmousedown="trotDanhGiaSao(2)"
                                           onmouseout="huyDanhGiaSao()" class="far fa-star star"></i>
                                    </li>
                                    <li>
                                        <i id="s3" onmousemove="danhGiaSao(3)" onmousedown="trotDanhGiaSao(3)"
                                           onmouseout="huyDanhGiaSao()" class="far fa-star star"></i>
                                    </li>
                                    <li>
                                        <i id="s4" onmousemove="danhGiaSao(4)" onmousedown="trotDanhGiaSao(4)"
                                           onmouseout="huyDanhGiaSao()" class="far fa-star star"></i>
                                    </li>
                                    <li>
                                        <i id="s5" onmousemove="danhGiaSao(5)" onmousedown="trotDanhGiaSao(5)"
                                           onmouseout="huyDanhGiaSao()" class="far fa-star star"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row form-danh-gia-phan-2">
                            <div class="col-sm-7">
                                <textarea class="form-control" rows="6" id="input-danh-gia"
                                          placeholder="Nhập nội dung đánh giá của bạn."></textarea>
                            </div>
                            <div class="col-sm-4">
                                <div class="row form-danh-gia-phan-2-right-1">
                                    <input type="text" class="form-control" name="tieu-de"
                                           id="input-tieu-de-danh-gia" placeholder="Nhập Tiêu Đề Của Bạn.">
                                </div>
                                <div class="row form-danh-gia-phan-2-right-2">
                                    <button type="submit" class="btn btn-primary btn-block">Gửi</button>
                                </div>
                            </div>
                        </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row bg-cmt-danh-gia">
        <div class="col-md-1"></div>
        <div class="col-md-10 cmt-danh-gia">
            <ul class="danh-gia">
                <span class="title-danh-gia">Đánh Giá</span>
                <li>
                    <span class="ten-danh-gia">
                        <i class="fas fa-user coloruser"></i> Sang Nguyễn <i class="fas fa-check-circle green"></i>
                    </span>
                    <br>
                    <span class="tieu-de-danh-gia">Sản phẩm tốt</span>
                    <span class="value-rating-star">
                        <ul>
                            <li><i class="fas fa-star star"></i></li>
                            <li><i class="fas fa-star star"></i></li>
                            <li><i class="fas fa-star star"></i></li>
                            <li><i class="fas fa-star star"></i></li>
                            <li><i class="far fa-star star"></i></li>
                        </ul>
                    </span>
                    <span class="noi-dung-danh-gia">Sản phẩm đẹp, cấu hình mạnh, nhưng pin hơi yếu.</span>
                </li>
                <li>
                    <span class="ten-danh-gia">
                        <i class="fas fa-user coloruser"></i> Sang Nguyễn <i class="fas fa-check-circle green"></i>
                    </span>
                    <br>
                    <span class="tieu-de-danh-gia">Sản phẩm tốt</span>
                    <span class="value-rating-star">
                        <ul>
                            <li><i class="fas fa-star star"></i></li>
                            <li><i class="fas fa-star star"></i></li>
                            <li><i class="fas fa-star star"></i></li>
                            <li><i class="fas fa-star star"></i></li>
                            <li><i class="far fa-star star"></i></li>
                        </ul>
                    </span>
                    <span class="noi-dung-danh-gia">Sản phẩm đẹp, cấu hình mạnh, nhưng pin hơi yếu.</span>
                </li>
                <li>
                    <span class="ten-danh-gia">
                        <i class="fas fa-user coloruser"></i> Sang Nguyễn <i class="fas fa-check-circle green"></i>
                    </span>
                    <br>
                    <span class="tieu-de-danh-gia">Sản phẩm tốt</span>
                    <span class="value-rating-star">
                        <ul>
                            <li><i class="fas fa-star star"></i></li>
                            <li><i class="fas fa-star star"></i></li>
                            <li><i class="fas fa-star star"></i></li>
                            <li><i class="fas fa-star star"></i></li>
                            <li><i class="far fa-star star"></i></li>
                        </ul>
                    </span>
                    <span class="noi-dung-danh-gia">Sản phẩm đẹp, cấu hình mạnh, nhưng pin hơi yếu.</span>
                </li>
                <li>
                    <span class="ten-danh-gia">
                        <i class="fas fa-user coloruser"></i> Sang Nguyễn <i class="fas fa-check-circle green"></i>
                    </span>
                    <br>
                    <span class="tieu-de-danh-gia">Sản phẩm tốt</span>
                    <span class="value-rating-star">
                        <ul>
                            <li><i class="fas fa-star star"></i></li>
                            <li><i class="fas fa-star star"></i></li>
                            <li><i class="fas fa-star star"></i></li>
                            <li><i class="fas fa-star star"></i></li>
                            <li><i class="far fa-star star"></i></li>
                        </ul>
                    </span>
                    <span class="noi-dung-danh-gia">Sản phẩm đẹp, cấu hình mạnh, nhưng pin hơi yếu.</span>
                </li>
                <li>
                    <span class="ten-danh-gia">
                        <i class="fas fa-user coloruser"></i> Sang Nguyễn <i class="fas fa-check-circle green"></i>
                    </span>
                    <br>
                    <span class="tieu-de-danh-gia">Sản phẩm tốt</span>
                    <span class="value-rating-star">
                        <ul>
                            <li><i class="fas fa-star star"></i></li>
                            <li><i class="fas fa-star star"></i></li>
                            <li><i class="fas fa-star star"></i></li>
                            <li><i class="fas fa-star star"></i></li>
                            <li><i class="far fa-star star"></i></li>
                        </ul>
                    </span>
                    <span class="noi-dung-danh-gia">Sản phẩm đẹp, cấu hình mạnh, nhưng pin hơi yếu.</span>
                </li>
            </ul>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row bg-binh-luan">
        <div class="col-md-1"></div>
        <div class="col-md-10 form-binh-luan">
            <div class="row form-binh-luan-phan-2">
                <div class="col-sm-7">
                    <textarea class="form-control" rows="6" id="input-binh-luan"
                              placeholder="Nhập nội dung bình luận của bạn."></textarea>
                </div>
                <div class="col-sm-4">
                    <div class="row form-binh-luan-phan-2-right-1">
                        <input type="text" class="form-control" name="name" id="input-name-binh-luan"
                               placeholder="Nhập họ tên của bạn.">
                    </div>
                    <div class="row form-binh-luan-phan-2-right-2">
                        <button type="submit" class="btn btn-primary btn-block">Gửi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row bg-cmt-binh-luan">
        <div class="col-md-1"></div>
        <div class="col-md-10 cmt-binh-luan">
            <ul class="binh-luan">
                <span class="title-binh-luan">Bình Luận</span>
                <li>
                    <span class="ten-binh-luan"><i class="fas fa-user coloruser"></i> Sang Nguyễn</span>
                    <br>
                    <span class="noi-dung-binh-luan">Sản phẩm đẹp, cấu hình mạnh, nhưng pin hơi yếu.</span>
                </li>
                <li>
                    <span class="ten-binh-luan"><i class="fas fa-user coloruser"></i> Sang Nguyễn</span>
                    <br>
                    <span class="noi-dung-binh-luan">Sản phẩm đẹp, cấu hình mạnh, nhưng pin hơi yếu.</span>
                </li>
                <li>
                    <span class="ten-binh-luan"><i class="fas fa-user coloruser"></i> Sang Nguyễn</span>
                    <br>
                    <span class="noi-dung-binh-luan">Sản phẩm đẹp, cấu hình mạnh, nhưng pin hơi yếu.</span>
                </li>
                <li>
                    <span class="ten-binh-luan"><i class="fas fa-user coloruser"></i> Sang Nguyễn</span>
                    <br>
                    <span class="noi-dung-binh-luan">Sản phẩm đẹp, cấu hình mạnh, nhưng pin hơi yếu.</span>
                </li>
            </ul>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
	</div>
<!-- Recently Viewed -->

<div class="viewed">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="viewed_title_container">
                    <h3 class="viewed_title">Recently Viewed</h3>
                    <div class="viewed_nav_container">
                        <div class="viewed_nav viewed_prev"><i class="fas fa-chevron-left"></i></div>
                        <div class="viewed_nav viewed_next"><i class="fas fa-chevron-right"></i></div>
                    </div>
                </div>

                <div class="viewed_slider_container">

                    <!-- Recently Viewed Slider -->

                    <div class="owl-carousel owl-theme viewed_slider">

                        <!-- Recently Viewed Item -->
                        <div class="owl-item">
                            <div class="viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="viewed_image"><img src="images/view_1.jpg" alt=""></div>
                                <div class="viewed_content text-center">
                                    <div class="viewed_price">$225<span>$300</span></div>
                                    <div class="viewed_name"><a href="#">Beoplay H7</a></div>
                                </div>
                                <ul class="item_marks">
                                    <li class="item_mark item_discount">-25%</li>
                                    <li class="item_mark item_new">new</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Recently Viewed Item -->
                        <div class="owl-item">
                            <div class="viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="viewed_image"><img src="images/view_2.jpg" alt=""></div>
                                <div class="viewed_content text-center">
                                    <div class="viewed_price">$379</div>
                                    <div class="viewed_name"><a href="#">LUNA Smartphone</a></div>
                                </div>
                                <ul class="item_marks">
                                    <li class="item_mark item_discount">-25%</li>
                                    <li class="item_mark item_new">new</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Recently Viewed Item -->
                        <div class="owl-item">
                            <div class="viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="viewed_image"><img src="images/view_3.jpg" alt=""></div>
                                <div class="viewed_content text-center">
                                    <div class="viewed_price">$225</div>
                                    <div class="viewed_name"><a href="#">Samsung J730F...</a></div>
                                </div>
                                <ul class="item_marks">
                                    <li class="item_mark item_discount">-25%</li>
                                    <li class="item_mark item_new">new</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Recently Viewed Item -->
                        <div class="owl-item">
                            <div class="viewed_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="viewed_image"><img src="images/view_4.jpg" alt=""></div>
                                <div class="viewed_content text-center">
                                    <div class="viewed_price">$379</div>
                                    <div class="viewed_name"><a href="#">Huawei MediaPad...</a></div>
                                </div>
                                <ul class="item_marks">
                                    <li class="item_mark item_discount">-25%</li>
                                    <li class="item_mark item_new">new</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Recently Viewed Item -->
                        <div class="owl-item">
                            <div class="viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="viewed_image"><img src="images/view_5.jpg" alt=""></div>
                                <div class="viewed_content text-center">
                                    <div class="viewed_price">$225<span>$300</span></div>
                                    <div class="viewed_name"><a href="#">Sony PS4 Slim</a></div>
                                </div>
                                <ul class="item_marks">
                                    <li class="item_mark item_discount">-25%</li>
                                    <li class="item_mark item_new">new</li>
                                </ul>
                            </div>
                        </div>

                        <!-- Recently Viewed Item -->
                        <div class="owl-item">
                            <div class="viewed_item d-flex flex-column align-items-center justify-content-center text-center">
                                <div class="viewed_image"><img src="images/view_6.jpg" alt=""></div>
                                <div class="viewed_content text-center">
                                    <div class="viewed_price">$375</div>
                                    <div class="viewed_name"><a href="#">Speedlink...</a></div>
                                </div>
                                <ul class="item_marks">
                                    <li class="item_mark item_discount">-25%</li>
                                    <li class="item_mark item_new">new</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Brands -->

<div class="brands">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="brands_slider_container">

                    <!-- Brands Slider -->

                    <div class="owl-carousel owl-theme brands_slider">
                    
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <img src="images/brands_1.jpg" alt="">
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <img src="images/brands_2.jpg" alt="">
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <img src="images/brands_3.jpg" alt="">
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <img src="images/brands_4.jpg" alt="">
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <img src="images/brands_5.jpg" alt="">
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <img src="images/brands_6.jpg" alt="">
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <img src="images/brands_7.jpg" alt="">
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <img src="images/brands_8.jpg" alt="">
                            </div>
                        </div>

                    </div>

                    <!-- Brands Slider Navigation -->
                    <div class="brands_nav brands_prev"><i class="fas fa-chevron-left"></i></div>
                    <div class="brands_nav brands_next"><i class="fas fa-chevron-right"></i></div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Newsletter -->
