@using Project_ASPNETMVC_2020.ClassToConfig;
@using Project_ASPNETMVC_2020.Model.EF
@using System.Data.Entity
@using Project_ASPNETMVC_2020.Model.ModelOfSession
@using Project_ASPNETMVC_2020.Model.DAO
@model List<product>
@{
    ViewBag.Title = "ShowListProduct";
    Layout = "~/Views/Shared/LayoutForUser.cshtml";
    String urlAssetsImg = "/Assets/web/images/sanpham/";
    LikeDAO likeDAO = new LikeDAO();
    DBModel dBModel = new DBModel();
    List<brand> brands = dBModel.brands.ToList();
    int records = ViewBag.totalRecord;
    string catogery = (string)ViewBag.Catogery;
    string id = (string)ViewBag.ID;
    User user = Session["User"] as User;
    List<product> listRV = new List<product>();
    if (user != null)

    {
        listRV = new ProductDAO().listProductRecentlyView(user.ID_ACCOUNT);
    }

}
@section stylestemplate{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/web/styles/main_styles.css",true)">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/web/styles/shop_styles.css",true)">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/web/styles/shop_responsive.css",true)">
}
@section scripts {
    <script src="@Url.ContentAssetWeb("plugins/Isotope/isotope.pkgd.min.js",true)"></script>
    <script src="@Url.ContentAssetWeb("plugins/jquery-ui-1.12.1.custom/jquery-ui.js",true)"></script>
    <script src="@Url.ContentAssetWeb("plugins/parallax-js-master/parallax.min.js",true)"></script>
    <script src="@Url.ContentAssetWeb("js/shop_custom.js",true)"></script>
    <script>
        $(".product_fav").click(function (e) {
            var idproduct = $(this).data('product');
            if ($(this).hasClass('active') == true) {
                var idproduct = $(this).data('product');
                $.ajax({
                    type: 'GET',
                    url: '/Product/DeleteLike',
                    data: { idproduct: idproduct },
                    success: function (data) {
                        var rs = data.result;
                        if (rs.includes("fail")) {
                            alert("Hệ thống có lỗi xảy ra");
                        } else if (rs === "user") {
                            alert("Bạn phải đăng nhập để sử dụng chức năng này");
                            $('#myModal').modal('show');
                        } else {
                            $('.wishlist_count').html(rs);

                        }
                    }
                });
            } else {
                $.ajax({
                    type: 'GET',
                    url: '/Product/AddLike',
                    data: { idproduct: idproduct },
                    success: function (data) {
                        var rs = data.result;
                        if (rs.includes("fail")) {
                            alert("Hệ thống có lỗi xảy ra");
                        } else if (rs === "user") {
                            alert("bạn phải đăng nhập để sử dụng chức năng này");
                            $('#myModal').modal('show');
                        } else {
                            $('.wishlist_count').html(rs);

                        }
                    }
                });
            }

        });


    </script>
}
@section styles{
    <link rel="stylesheet" type="text/css" href="@Url.ContentAssetWeb("styles/style.css")">
}

<div class="shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <!-- Shop Sidebar -->
                <div class="shop_sidebar">
                    <div class="sidebar_section filter_by_section">
                        <div class="sidebar_title">Filter By</div>
                        <div class="sidebar_subtitle">Price</div>
                        <div class="filter_price">
                            <div id="slider-range" class="slider_range"></div>
                            <p>Range: </p>
                            <p><input type="text" id="amount" class="amount" readonly style="border:0; font-weight:bold;"></p>
                        </div>
                    </div>
                    <div class="sidebar_section">
                        <div class="sidebar_subtitle color_subtitle">Color</div>
                        <ul class="colors_list">
                            <li class="color"><a href="#" style="background: #b19c83;"></a></li>
                            <li class="color"><a href="#" style="background: #000000;"></a></li>
                            <li class="color"><a href="#" style="background: #999999;"></a></li>
                            <li class="color"><a href="#" style="background: #0e8ce4;"></a></li>
                            <li class="color"><a href="#" style="background: #df3b3b;"></a></li>
                            <li class="color"><a href="#" style="background: #ffffff; border: solid 1px #e1e1e1;"></a></li>
                        </ul>
                    </div>
                    <div class="sidebar_section">
                        <div class="sidebar_subtitle brands_subtitle">Brands</div>
                        <ul class="brands_list">
                            @foreach (brand brand in brands)
                            {
                                <li class="brand"><a href="@Link.linkForListProduct("brand",brand.ID_BRAND)">@brand.BRAND1</a></li>
                            }
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-lg-9">

                <!-- Shop Content -->

                <div class="shop_content">
                    <div class="shop_bar clearfix">
                        <div class="shop_product_count"><span>@records.ToString()</span> products found</div>
                        <div class="shop_sorting">
                            <span>Sort by:</span>
                            <ul>
                                <li>
                                    <span class="sorting_text">highest rated<i class="fas fa-chevron-down"></span></i>
                                    <ul>
                                        <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>highest rated</li>
                                        <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>name</li>
                                        <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "price" }'>price</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="product_grid">
                        <div class="product_grid_border"></div>
                       
                        @foreach (product item in Model)
                        {
                            float realprice = 0;
                            if (item.SALE_RATE != 0)
                            {
                                realprice = (float)(item.PRICE.Value - (item.PRICE.Value * ((float)item.SALE_RATE.Value / 100)));
                            }
                            <div class="product_item is_new" style="float:left">
                                <div class="product_border"></div>
                                <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="@Url.Content(@urlAssetsImg+item.IMG.ToString())" alt="" height="100%" width="50%"></div>
                                <div class="product_content">
                                    @if (realprice == 0)
                                    {
                                        <div class="product_price">
                                            @item.PRICE.Value.ToString("N0")₫
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="product_price">
                                            @realprice.ToString("N0")₫
                                        </div>
                                    }

                                    <div class="product_name">
                                        <div><a href="@Url.Action("ProductDetail","Product",new { id=item.ID_PRODUCT})" tabindex="0">@item.NAME.ToString()</a></div>
                                    </div>
                                </div>
                                @if (user == null || likeDAO.isUserHasLike(item.ID_PRODUCT, user.ID_ACCOUNT) == false)
                                {
                                    <div data-product="@item.ID_PRODUCT" class="product_fav"><i class="fas fa-heart"></i></div>

                                }
                                else
                                {
                                    <div data-product="@item.ID_PRODUCT" class="product_fav active"><i class="fas fa-heart"></i></div>

                                }
                                <ul class="product_marks">
                                    @if (item.SALE_RATE != 0)
                                    {
                                        <li class="product_mark product_discount">@item.SALE_RATE%</li>
                                    }

                                    <li class="product_mark product_new">new</li>
                                </ul>
                            </div>
                        }
                        <!-- Product Item -->

                    </div>

                    <!-- Shop Page Navigation -->
                    @if (ViewBag.totalPage > 1)
                    {
                        int pageDisplay = (int)(ViewBag.maxPage);
                        int totalPage = (int)(ViewBag.totalPage);
                        int curPage = (int)(ViewBag.pageIndex);
                        int startPageIndex = Math.Max(1, curPage - pageDisplay / 2);
                        int endPageIndex = Math.Min(totalPage, curPage + pageDisplay / 2);

                        <div class="shop_page_nav d-flex flex-row">
                            @if (ViewBag.Previous != -1)
                            {

                                <a href="@Link.linkForListProductWithPage(catogery,id,(int)ViewBag.Previous)"> <div class="page_prev d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-left"></i></div></a>
                            }
                            <ul class="page_nav d-flex flex-row">
                                @for (int i = startPageIndex; i <= endPageIndex; i++)
                                {
                                    if (curPage == i)
                                    {
                                        <a href="@Link.linkForListProductWithPage(catogery,id,i)">
                                            <li class="page-item">@i</li>
                                        </a>

                                    }
                                    else
                                    {
                                        <a href="@Link.linkForListProductWithPage(catogery,id,i)"><li>@i</li></a>

                                    }
                                }

                            </ul>
                            @if (ViewBag.Next != -1)
                            {
                                <a href="@Link.linkForListProductWithPage(catogery,id,(int)ViewBag.Next)"> <div class="page_next d-flex flex-column align-items-center justify-content-center"><i class="fas fa-chevron-right"></i></div></a>
                            }
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>
</div>

<!-- Recently Viewed -->

@if (user != null && listRV.Count != 0)
{
    <div class="viewed">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="viewed_title_container">
                        <h3 class="viewed_title">Recently Viewed</h3>
                        <div class="viewed_nav_container">
                            <div class="viewed_nav viewed_prev"><i class="fas fa-chevron-left"></i></div>
                            <div class="viewed_nav viewed_next"><i class="fas fa-chevron-right"></i></div>
                        </div>
                    </div>

                    <div class="viewed_slider_container">

                        <!-- Recently Viewed Slider -->

                        <div class="owl-carousel owl-theme viewed_slider">
                            @foreach (product item in listRV)
                            {
                                float realprice = 0;
                                if (item.SALE_RATE.Value != 0)
                                {
                                    realprice = (float)(item.PRICE.Value - (item.PRICE.Value * ((float)item.SALE_RATE.Value / 100)));
                                }
                                <!-- Recently Viewed Item -->
                                <div class="owl-item">
                                    <div class="viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="viewed_image"><img src="@Url.ContentAssetWeb("images/sanpham/"+item.IMG)" alt=""></div>
                                        <div class="viewed_content text-center">
                                            @if (realprice != 0)
                                            {
                                                <div class="viewed_price">
                                                    @realprice.ToString("N0")
                                                    <span>@item.PRICE.Value.ToString("N0")</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="viewed_price">
                                                    @item.PRICE.Value.ToString("N0")
                                                </div>
                                            }
                                            <div class="viewed_name">
                                                <a href="@Url.Action("ProductDetail","Product",new
{ id= item.ID_PRODUCT})"> @item.NAME</a>
</div>
</div>
<ul class="item_marks">
    <li class="item_mark item_discount">-@item.SALE_RATE%</li>
    <li class="item_mark item_new">new</li>
</ul>
</div>
</div>
}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<!-- Brands -->

<div class="brands">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="brands_slider_container">
                    <!-- Brands Slider -->
                    <div class="owl-carousel owl-theme brands_slider">
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <img src="~/Assets/web/images/brands_1.jpg" alt="">
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <img src="~/Assets/web/images/brands_2.jpg" alt="">
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <img src="~/Assets/web/images/brands_3.jpg" alt="">
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <img src="~/Assets/web/images/brands_4.jpg" alt="">
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <img src="~/Assets/web/images/brands_5.jpg" alt="">
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <img src="~/Assets/web/images/brands_6.jpg" alt="">
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <img src="~/Assets/web/images/brands_7.jpg" alt="">
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="brands_item d-flex flex-column justify-content-center">
                                <img src="~/Assets/web/images/brands_8.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- Brands Slider Navigation -->
                    <div class="brands_nav brands_prev"><i class="fas fa-chevron-left"></i></div>
                    <div class="brands_nav brands_next"><i class="fas fa-chevron-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>

