@using Project_ASPNETMVC_2020.ClassToConfig
@using Project_ASPNETMVC_2020.Model.ModelOfSession
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutForUser.cshtml";
    var user = Session["User"] as User;
}
@section styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="@Url.ContentAssetWeb("styles/contact_styles.css")">
    <link rel="stylesheet" type="text/css" href="@Url.ContentAssetWeb("styles/contact_responsive.css")">
    <link rel="shortcut icon" href="@Url.ContentAssetWeb("images/logo-blue.png")">
    <link rel="stylesheet" type="text/css" href="@Url.ContentAssetWeb("styles/style.css")">
    <link rel="stylesheet" href="@Url.ContentAssetWeb("styles/style_thongtin.css")">
}

<div class="container content-thong-tin">
    <div class="row">
        @RenderPage("MenuLeftUser.cshtml")
        <div class="col-md-1"></div>
        <div class="col-md-8 whitesmoke right-content">
            <!-- todo -->
            <div class="row right-content-phan-1">
                <div class="col-md-1"></div>
                <div class="col-md-10 bg-title-right-content">
                    <h3><i class="fas fa-portrait"></i> Hồ Sơ Của Tôi</h3>
                    <span>Quản lý hồ sơ của bạn</span>
                </div>
                <div class="col-md-1"></div>
            </div>
            <form id="FormUser" method="post">
                <div class="row right-content-phan-2">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 bg-form-right-content">
                        <div class="input-group mb-3 gian-cach">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><label for="input-name">Họ và Tên<i class="fas fa-arrow-right"></i></label></span>
                            </div>
                            <input name="UName" type="text" class="form-control" id="input-name" value="@user.HO_TEN">
                        </div>
                        <div class="input-group mb-3 gian-cach">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><label for="input-email">Email <i class="far fa-envelope"></i></label></span>
                            </div>
                            <input name="UEmail" type="text" class="form-control" id="input-email" value="@user.EMAIL">
                        </div>
                        <div class="input-group mb-3 gian-cach">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><label for="input-sdt">Số Điện Thoại <i class="fas fa-mobile-alt"></i></label></span>
                            </div>
                            <input name="USDT" type="text" class="form-control" id="input-sdt" value="@user.SDT">
                        </div>
                        <div class="input-group mb-3 gian-cach">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><label for="input-dia-chi">Địa Chỉ <i class="fas fa-home"></i></label></span>
                            </div>
                            <input name="UDiaChi" type="text" class="form-control" id="input-dia-chi" value="@user.DIA_CHI">
                        </div>
                        <ul class="gioi-tinh gian-cach">
                            <span class="title-gioi-tinh">Giới Tính</span>
                            <li>
                                <div class="form-check-inline">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="input-gioi-tinh-nam" name="Ugioitinh" value="1" checked="">
                                        <label class="custom-control-label" for="input-gioi-tinh-nam">Nam </label>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check-inline">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="input-gioi-tinh-nu" name="Ugioitinh" value="2">
                                        <label class="custom-control-label" for="input-gioi-tinh-nu">Nữ </label>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check-inline">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="input-gioi-tinh-khac" name="Ugioitinh" value="3">
                                        <label class="custom-control-label" for="input-gioi-tinh-khac">Khác </label>
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <div class="input-group mb-3 gian-cach">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><label for="date">Ngày Sinh <i class="far fa-calendar-alt"></i></label></span>
                            </div>
                            <input name="date" type="text" class="form-control" placeholder="ngày / tháng / năm" id="date" value="@String.Format("{0:MM/dd/yyyy}",user.NGAY_SINH)">
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <div id="u-error-mess"></div>
                    </div>
                    <div class="col-md-5"></div>
                </div>
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <button id="UButton" type="button" class="btn btn-primary btn-block">Lưu</button>
                    </div>
                    <div class="col-md-5"></div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/Assets/web/js/custom.js",true)"></script>
    <script type="text/javascript" src="@Url.ContentAssetWeb("js/date.js")"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <script src="@Url.ContentAssetWeb("js/script_thongtin.js")"></script>
    <script>
        numberGioiTinh = @user.GIOI_TINH;

        function outputGioiTinh(numberGioiTinh) {
            if (numberGioiTinh == 2) {
                document.getElementById("input-gioi-tinh-nam").checked = false;
                document.getElementById("input-gioi-tinh-nu").checked = true;
            } else if (numberGioiTinh == 3) {
                document.getElementById("input-gioi-tinh-nam").checked = false;
                document.getElementById("input-gioi-tinh-khac").checked = true;
            }
        }
        outputGioiTinh(numberGioiTinh);
    </script>
    <script>
        var status = null;
        $("#UButton").click(function (e) {
            e.preventDefault();
                 var data = $("#FormUser").serialize();
            $.ajax({
                type: 'POST',
                url: '/User/FormDataUser',
                data: data,
                dataType: 'JSON',
                success: function (data) {
                    status = data.status
                    if (status == "success") {
                        window.location.href = '@Url.Action("Index","User")';
                    } else if (status == "empty") {
                        $("#u-error-mess").hide().html("Không Để Trống").fadeIn("slow");
                    } else if (status == "email") {
                        $("#u-error-mess").hide().html("Email Không Đúng").fadeIn("slow");
                    } else if (status == "phone") {
                        $("#u-error-mess").hide().html("SĐT Không Đúng").fadeIn("slow");
                    }
                }
            });
        });
    </script>
}