@using Project_ASPNETMVC_2020.Areas.Admin.ClassToConfig
@using Project_ASPNETMVC_2020.Model.ModelOfSession
@model System.Collections.ArrayList
@{
    ViewBag.Title = "Infomation";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
    var Account = Model[0] as User;
}
@section styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <link href="@Url.ContentAssetAdmin("lib/vendors/font-awesome/css/font-awesome.min.css",true)" rel="stylesheet">
    <!-- NProgress -->
    <link href="@Url.ContentAssetAdmin("lib/vendors/nprogress/nprogress.css",true)" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="@Url.ContentAssetAdmin("lib/build/css/custom.min.css",true)" rel="stylesheet">
    <link rel="stylesheet" href="@Url.ContentAssetAdmin("css/admin_xemAccountCss.css",true)">
}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Quản Lý Tài Khoản</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Quản Lý Tài Khoản</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                            <form id="FormAccount">
                        <div class="row right-content-phan-2">

                                <div class="col-md-1"></div>
                                <div class="col-md-10 bg-form-right-content">
                                    <div class="input-group mb-3 gian-cach">
                                        <div class="input-group-prepend">

                                            <span class="input-group-text">
                                                <label for="input-name">
                                                    Họ và Tên<i class="fas fa-arrow-right"></i>
                                                </label>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Nhập Họ Tên Của Bạn" id="input-name"
                                               name="AName" value="@Account.HO_TEN">
                                    </div>
                                    <div class="input-group mb-3 gian-cach">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label for="input-email">
                                                    Email <i class="far fa-envelope"></i>
                                                </label>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Nhập Email Của Bạn" id="input-email"
                                               name="AEmail" value="@Account.EMAIL">
                                    </div>
                                    <div class="input-group mb-3 gian-cach">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label for="input-sdt">
                                                    Số Điện Thoại <i class="fas fa-mobile-alt"></i>
                                                </label>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Nhập Số Điện Thoại Của Bạn" id="input-sdt"
                                               name="ASDT" value="@Account.SDT">
                                    </div>
                                    <div class="input-group mb-3 gian-cach">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label for="input-dia-chi">
                                                    Địa Chỉ <i class="fas fa-home"></i>
                                                </label>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Nhập Địa Chỉ Của Bạn" id="input-dia-chi"
                                               name="ADiaChi" value="@Account.DIA_CHI">
                                    </div>
                                    <ul class="gioi-tinh gian-cach">
                                        <span class="title-gioi-tinh">Giới Tính</span>
                                        <li>
                                            <div class="form-check-inline">
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" id="input-gioi-tinh-nam" name="Agioitinh"
                                                           value="1" checked="">
                                                    <label class="custom-control-label" for="input-gioi-tinh-nam">Nam </label>
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check-inline">
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" value="2" class="custom-control-input" id="input-gioi-tinh-nu"
                                                           name="Agioitinh">
                                                    <label class="custom-control-label" for="input-gioi-tinh-nu">Nữ </label>
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-check-inline">
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" value="3" class="custom-control-input" id="input-gioi-tinh-khac"
                                                           name="Agioitinh">
                                                    <label class="custom-control-label" for="input-gioi-tinh-khac">Khác </label>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="input-group mb-3 gian-cach">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label for="date">
                                                    Ngày Sinh <i class="far fa-calendar-alt"></i>
                                                </label>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="ngày / tháng / năm" name="date" id="date"
                                               value="@String.Format("{0:MM/dd/yyyy}",Account.NGAY_SINH)">
                                    </div>
                                    <input type="hidden" name="AIdAccount" value="@Account.ID_ACCOUNT" />
                                    <div id="u-error-mess" style="color:#e74c3c"></div>
                                    <div class="row khoang-cach-xa">
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-2">
                                            <a href="@Url.Action("Index","User")">
                                                <button class="btn btn-primary btn-block" type="button">Quay lại</button>
                                            </a>
                                        </div>
                                        <div class="col-sm-2">
                                            <button id="sumbit-form-account" class="btn btn-primary btn-block" type="button">Lưu</button>
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                </div>

                                <div class="col-md-1"></div>

                        </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
@section scripts{
    <script src="@Url.ContentAssetAdmin("lib/build/js/custom.min.js",true)"></script>
    <script type="text/javascript" src="@Url.ContentAssetWeb("js/date.js")"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <script src="@Url.ContentAssetWeb("js/script_thongtin.js")"></script>
    <script>
        numberGioiTinh = @Account.GIOI_TINH;

        function outputGioiTinh(numberGioiTinh) {
            if (numberGioiTinh == 2) {
                document.getElementById("input-gioi-tinh-nam").checked = false;
                document.getElementById("input-gioi-tinh-nu").checked = true;
            } else if (numberGioiTinh == 3) {
                document.getElementById("input-gioi-tinh-nam").checked = false;
                document.getElementById("input-gioi-tinh-khac").checked = true;
            }
        }
        outputGioiTinh(numberGioiTinh);
    </script>
    <script>
        var status = null;
        $("#sumbit-form-account").click(function (e) {
            e.preventDefault();
                 var data = $("#FormAccount").serialize();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("FormDataAccount", "User")',
                data: data,
                dataType: 'JSON',
                success: function (data) {
                    status = data.status
                    if (status == "success") {
                        $("#u-error-mess").css("color", "#2ecc71");
                         $("#u-error-mess").hide().html("Lưu Thành Công").fadeIn("slow");
                    } else if (status == "empty") {
                        $("#u-error-mess").hide().html("Không Để Trống").fadeIn("slow");
                    } else if (status == "email") {
                        $("#u-error-mess").hide().html("Email Không Đúng").fadeIn("slow");
                    } else if (status == "phone") {
                        $("#u-error-mess").hide().html("SĐT Không Đúng").fadeIn("slow");
                    }
                }
            });
        });
    </script>
}


