@model System.Collections.ArrayList
@using Project_ASPNETMVC_2020.Model.EF
@using Project_ASPNETMVC_2020.Model.Code
@using Project_ASPNETMVC_2020.ClassToConfig 
@{ 
    var listProducts = Model[0] as List<product>;
}

                <!-- Deals -->
                <div class="deals">
                    <div class="deals_title">Giảm Giá Tuần</div>
                    <div class="deals_slider_container">
                        <!-- Deals Slider -->
                        <div class="owl-carousel owl-theme deals_slider">
                            @foreach (product item in listProducts)
                            {
                                <!-- Deals Item -->
                                <div class="owl-item deals_item">
                                    <div class="deals_image">
                                        <img src="@Url.ContentAssetWeb("/images/sanpham/"+@item.IMG)" alt="">
                                    </div>
                                    <div class="deals_content">
                                        <div class="deals_info_line d-flex flex-row justify-content-start">
                                            <div class="deals_item_category"><a href="#">@item.NAME</a></div>
                                            <div class="deals_item_price_a ml-auto">@Tools.StringToVND(item.PRICE.ToString())</div>
                                        </div>
                                        <div class="deals_info_line d-flex flex-row justify-content-start">
                                            <div class="deals_item_name">@item.NAME</div>
                                            <div class="deals_item_price ml-auto">@Tools.StringToVND(Tools.PricesDecreased((double)item.PRICE, (double)item.SALE_RATE).ToString())</div>
                                        </div>
                                        <div class="available">
                                            <div class="available_line d-flex flex-row justify-content-start">
                                                <div class="available_title">Còn: <span>@item.AMOUNT</span></div>
                                                <div class="sold_title ml-auto">Đã Bán: <span>@item.AMOUNT_SOLD</span></div>
                                            </div>
                                            <div class="available_bar"><span style="width:17%"></span></div>
                                        </div>
                                        <div class="deals_timer d-flex flex-row align-items-center justify-content-start">
                                            <div class="deals_timer_title_container">
                                                <div class="deals_timer_title">Đặt Hàng Ngay</div>
                                                <div class="deals_timer_subtitle">Thời Gian Còn:</div>
                                            </div>
                                            <div class="deals_timer_content ml-auto">
                                                <div class="deals_timer_box clearfix" data-target-time="">
                                                    <div class="deals_timer_unit">
                                                        <div id="deals_timer1_hr" class="deals_timer_hr"></div>
                                                        <span>hours</span>
                                                    </div>
                                                    <div class="deals_timer_unit">
                                                        <div id="deals_timer1_min" class="deals_timer_min"></div>
                                                        <span>mins</span>
                                                    </div>
                                                    <div class="deals_timer_unit">
                                                        <div id="deals_timer1_sec" class="deals_timer_sec"></div>
                                                        <span>secs</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="deals_slider_nav_container">
                        <div class="deals_slider_prev deals_slider_nav">
                            <i class="fas fa-chevron-left ml-auto"></i>
                        </div>
                        <div class="deals_slider_next deals_slider_nav">
                            <i class="fas fa-chevron-right ml-auto"></i>
                        </div>
                    </div>
                </div>
                
            