@using Project_ASPNETMVC_2020.ClassToConfig
@using Project_ASPNETMVC_2020.Model.EF
@using Project_ASPNETMVC_2020.Model.ModelOfSession
@using Project_ASPNETMVC_2020.Model.DAO
@model System.Collections.ArrayList
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/LayoutForUser.cshtml";
    User user = Session["User"] as User;
    var listSlider = Model[1] as List<slider>;
}
@section stylestemplate{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/web/plugins/slick-1.8.0/slick.css",true)">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/web/styles/main_styles.css",true)">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/web/styles/responsive.css",true)">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/web/styles/style.css",true)">
}
@section scripts{
    <script>
        @*$(document).ready(function () {

            $(".review_image").each(function (index) {
                var id = $(index).attr('id');

               @foreach(product p in listProductForRecentEval)
               {
                   @: if (id === '@p.ID_PRODUCT') {
                   @:$('#'+id).attr('src') = p.IMG;
               }
               }
            });
        });*@
        @*@foreach(product p in listProductForRecentEval)
        {
            @: console.log('@p.ID_PRODUCT');
        }*@
    </script>
}
<!-- Banner -->
<div class="banner">
    <div class="banner_background" style="background-image:url(@Url.ContentAssetWeb("/images/banner_background.jpg"))"></div>
    <div class="container fill_height">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-sm-11 col-lg-9 ">
                <div id="carouselId" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        @{
                            int index1 = 0;
                            int index2 = 0;
                        }
                        @foreach (slider item in listSlider)
                        {
                            if (index1 == 0)
                            {
                                <li data-target="#carouselId" data-slide-to="@index1" class="active"></li>
                            }
                            else
                            {
                                <li data-target="#carouselId" data-slide-to="@index1"></li>
                            }

                            index1++;
                        }

                    </ol>
                    <div class="carousel-inner" role="listbox">
                        
                        @foreach (slider item in listSlider)
                        {
                            <div class="carousel-item @(index2 == 0?"active":"")">
                                <img src="@Url.ContentAssetWeb("images/slider/"+item.IMAGE)" alt="@item.NAME">
                            </div>
                            index2++;
                        }
                        <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Characteristics -->
<div class="characteristics">
    <div class="container">
        <div class="row">
            <!-- Char. Item -->
            <div class="col-lg-3 col-md-6 char_col">
                <div class="char_item d-flex flex-row align-items-center justify-content-start">
                    <div class="char_icon"><img src="~/Assets/web/images/char_1.png" alt=""></div>
                    <div class="char_content">
                        <div class="char_title">Miễn Phí Vận Chuyển</div>
                        <div class="char_subtitle">tất cả đơn hàng</div>
                    </div>
                </div>
            </div>
            <!-- Char. Item -->
            <div class="col-lg-3 col-md-6 char_col">
                <div class="char_item d-flex flex-row align-items-center justify-content-start">
                    <div class="char_icon"><img src="~/Assets/web/images/char_2.png" alt=""></div>
                    <div class="char_content">
                        <div class="char_title">Đổi Trả Miễn Phí</div>
                        <div class="char_subtitle">trong 30 ngày</div>
                    </div>
                </div>
            </div>
            <!-- Char. Item -->
            <div class="col-lg-3 col-md-6 char_col">
                <div class="char_item d-flex flex-row align-items-center justify-content-start">
                    <div class="char_icon"><img src="~/Assets/web/images/char_3.png" alt=""></div>
                    <div class="char_content">
                        <div class="char_title">Trả Góp</div>
                        <div class="char_subtitle">lãi suất 0%</div>
                    </div>
                </div>
            </div>
            <!-- Char. Item -->
            <div class="col-lg-3 col-md-6 char_col">
                <div class="char_item d-flex flex-row align-items-center justify-content-start">
                    <div class="char_icon"><img src="~/Assets/web/images/char_4.png" alt=""></div>
                    <div class="char_content">
                        <div class="char_title">Rẻ Vô Địch</div>
                        <div class="char_subtitle">can kết giá thấp nhất</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Deals of the week -->
<div class="deals_featured">
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-lg-row flex-column align-items-center justify-content-start">
                @Html.Action("DealsOfTheWeek", "Home")
                @Html.Action("Featured", "Home")
            </div>
        </div>
    </div>
</div>
<!-- Popular Categories -->
<div class="popular_categories">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="popular_categories_content">
                    <div class="popular_categories_title">Thương Hiệu Phổ Biến</div>
                    <div class="popular_categories_slider_nav">
                        <div class="popular_categories_prev popular_categories_nav">
                            <i class="fas fa-angle-left ml-auto"></i>
                        </div>
                        <div class="popular_categories_next popular_categories_nav">
                            <i class="fas fa-angle-right ml-auto"></i>
                        </div>
                    </div>
                    <div class="popular_categories_link"><a href="#">Các thương hiệu nổi tiếng</a></div>
                </div>
            </div>
            <!-- Popular Categories Slider -->
            <div class="col-lg-9">
                <div class="popular_categories_slider_container">
                    <div class="owl-carousel owl-theme popular_categories_slider">
                        <!-- Popular Categories Item -->
                        <div class="owl-item">
                            <div class="popular_category d-flex flex-column align-items-center justify-content-center">
                                <div class="popular_category_image">
                                    <img src="~/Assets/web/images/home/iphone.png" alt="">
                                </div>
                                <div class="popular_category_text">iphone</div>
                            </div>
                        </div>
                        <!-- Popular Categories Item -->
                        <div class="owl-item">
                            <div class="popular_category d-flex flex-column align-items-center justify-content-center">
                                <div class="popular_category_image">
                                    <img src="~/Assets/web/images/home/oppo.png" alt="">
                                </div>
                                <div class="popular_category_text">oppo</div>
                            </div>
                        </div>
                        <!-- Popular Categories Item -->
                        <div class="owl-item">
                            <div class="popular_category d-flex flex-column align-items-center justify-content-center">
                                <div class="popular_category_image">
                                    <img src="~/Assets/web/images/home/samsung.jpg" alt="">
                                </div>
                                <div class="popular_category_text">samsung</div>
                            </div>
                        </div>
                        <!-- Popular Categories Item -->
                        <div class="owl-item">
                            <div class="popular_category d-flex flex-column align-items-center justify-content-center">
                                <div class="popular_category_image">
                                    <img src="~/Assets/web/images/home/vivo.png" alt="">
                                </div>
                                <div class="popular_category_text">vivo</div>
                            </div>
                        </div>
                        <!-- Popular Categories Item -->
                        <div class="owl-item">
                            <div class="popular_category d-flex flex-column align-items-center justify-content-center">
                                <div class="popular_category_image">
                                    <img src="~/Assets/web/images/home/xiaomi.png" alt="">
                                </div>
                                <div class="popular_category_text">xiaomi</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Action("Banner", "Home")
@Html.Action("HotNewArrivals", "Home")
@Html.Action("BestSellers", "Home")
@Html.Action("Trends", "Home")



@Html.Action("Brands", "Home")
<!-- Recently Viewed -->
@if (user != null)
{
    @Html.Action("RecentlyViews", "Home")
}
