@using Project_ASPNETMVC_2020.Areas.Admin.ClassToConfig
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="@Url.ContentAssetAdmin("images/favicon.ico",true)" type="image/ico" />

    <title>Blue ! </title>
    @RenderSection("styles", required: false)

</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index","Home")" class="site_title"><i class="fa fa-paw"></i> <span>Blue !</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="@Url.ContentAssetAdmin("images/imgadmin.png",true)" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>Admin</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Trang Chủ <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index","Home")">Số Liệu</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-edit"></i>Danh Sách <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("ListProduct","Product")">Danh Sách Sản Phẩm</a></li>
                                        <li><a href="@Url.Action("Index","User")">Danh Sách Tài Khoản</a></li>
                                        <li><a href="@Url.Action("Index","Slider")">Danh Sách Slider</a></li>
                                        <li><a href="@Url.Action("Index","Comment")">Danh Sách Bình Luận</a></li>
                                        <li><a href="@Url.Action("Index","Rate")">Danh Sách Đánh Giá</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-edit"></i> Forms <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("FormAddProduct","Product",new { area = "Admin"    } )">Form Đăng Sản Phẩm</a></li>
                                        <li><a href="@Url.Action("FormAddRam","Ram",new { area = "Admin"    } )">Form Thêm Ram</a></li>
                                        <li><a href="@Url.Action("FormDeleteRam","Ram",new { area = "Admin"    } )">Form Xóa Ram</a></li>

                                        <li><a href="@Url.Action("FormAddMemory","Memory",new { area = "Admin"    } )">Form Thêm Bộ Nhớ Máy</a></li>
                                        <li><a href="@Url.Action("FormDeleteMemory","Memory",new { area = "Admin"    } )">Form Xóa Bộ Nhớ Máy</a></li>

                                        <li><a href="@Url.Action("FormAddBrand","Brand",new { area = "Admin"    } )">Form Thêm Thương Hiệu</a></li>
                                        <li><a href="@Url.Action("FormDeleteBrand","Brand",new { area = "Admin"    } )">Form Xóa Thương Hiệu</a></li>

                                        <li><a href="@Url.Action("CreateSlider","Slider")">Form Slider</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>

                        <div class="menu_section">
                            <h3>Web </h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-windows"></i> Trang Web <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="page_403.html">403 Error</a></li>
                                        <li><a href="page_404.html">404 Error</a></li>
                                        <li><a href="page_500.html">500 Error</a></li>
                                        <li><a href="dangnhap.html">Trang Đăng Nhập</a></li>
                                        <li><a href="plain_page.html">Trang Rỗng</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>


                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="@Url.Action("LogOut","Home")">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>

            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown"
                                   data-toggle="dropdown" aria-expanded="false">
                                    <img src="@Url.ContentAssetAdmin("images/imgadmin.png")" alt="">Admin
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="@Url.Action("Index","Home",new { area=""})"> Blue</a>
                                    <a class="dropdown-item" href="@Url.Action("LogOut","Home")"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            @RenderBody()
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Editor By Blue
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>

</html>