@using Project_ASPNETMVC_2020.Areas.Admin.ClassToConfig
@using Project_ASPNETMVC_2020.Model.ModelOfSession
@using Project_ASPNETMVC_2020.Model.EF
@model System.Collections.ArrayList
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
    User user = Session["User"] as User;
    List<slider> listSlider = null;
    if (user != null)
    {
        listSlider = Model[0] as List<slider>;
    }
}
@section styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <link href="@Url.ContentAssetAdmin("lib/vendors/font-awesome/css/font-awesome.min.css",true)" rel="stylesheet">
    <!-- NProgress -->
    <link href="@Url.ContentAssetAdmin("lib/vendors/nprogress/nprogress.css",true)" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="@Url.ContentAssetAdmin("lib/build/css/custom.min.css",true)" rel="stylesheet">
    <link rel="stylesheet" href="@Url.ContentAssetAdmin("css/style.css",true)">
    <link rel="stylesheet" href="@Url.ContentAssetAdmin("css/admin_dsAccountCss.css",true)">
}
<!-- page content -->
<div class="right_col" role="main" style="min-height: 692px;">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Danh Sách Tài Khoản</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..."> <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a> <a class="dropdown-item" href="#">
                                        Settings
                                        2
                                    </a>
                                </div>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="table-responsive">
                            <div id="content-box">
                                <div id="content-wrapper">
                                    <table class="table table-striped jambo_table bulk_action">
                                        <thead>
                                            <tr class="headings">
                                                <th>
                                                    <div class="icheckbox_flat-green" style="position: relative;">
                                                        <input type="checkbox" id="check-all" class="flat"
                                                               style="position: absolute; opacity: 0;">
                                                        <ins class="iCheck-helper"
                                                             style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                    </div>
                                                </th>
                                                <th class="column-title">Mã </th>
                                                <th class="column-title giua">Tên </th>
                                                <th class="column-title giua">Hình </th>
                                                <th class="column-title giua">Số </th>
                                                <th class="column-title giua">Chỉnh Sủa </th>
                                                <th class="column-title no-link last"><span class="nobr">Xóa </span></th>
                                            </tr>
                                        </thead>

                                        <tbody id="bodyTable">

                                            @foreach (slider item in listSlider)
                                            {
                                                <tr class="even pointer">
                                                    <td class="a-center ">
                                                        <div class="icheckbox_flat-green" style="position: relative;">
                                                            <input type="checkbox" class="flat" name="table_records"
                                                                   style="position: absolute; opacity: 0;">
                                                            <ins class="iCheck-helper"
                                                                 style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                        </div>
                                                    </td>
                                                    <td>@item.ID_SLIDER</td>
                                                    <td class="giua">@item.NAME</td>
                                                    <td class="giua"><img style=" width: 120px;" src="@Url.ContentAssetWeb("/images/slider/"+item.IMAGE)" /></td>
                                                    <td class="giua">@item.NUMBER</td>
                                                    <td class="giua"><a href="@Url.Action("LevelAccount","User",new {IdAccount=item.ID_SLIDER })"><i class="fas fa-edit admin-green-hover"></i></a></td>
                                                    <td class="last">
                                                        <a href="#" id="@("Delete"+item.ID_SLIDER)"><i class="fas fa-trash-alt admin-red-hover	"></i></a>
                                                    </td>
                                                    <script>
                                                        $('#@("Delete"+item.ID_SLIDER)').on('click', function () {
                                                            $.confirm({
                                                                title: 'Xóa Tài Khoản ...!',
                                                                content: 'Bạn Có Muốn Xóa Tài Khoản!',
                                                                buttons: {
                                                                    Có: function () {
                                                                            $.ajax({
                                                                                type: "POST",
                                                                                url: "@Url.Action("DeleteAccount","User")",
                                                                                data:{idAccount:"@item.ID_SLIDER"},
                                                                                success: function (data) {
                                                                                    status = data.status
                                                                                    if (status == "success") {
                                                                                        $('#@("Delete"+item.ID_SLIDER)').parent().parent().remove();
                                                                                    }
                                                                                }
                                                                            });
                                                                    },
                                                                    Không: function () { },
                                                                }
                                                            });
                                                        });
                                                    </script>
                                                </tr>

                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                        @*<div class="item form-group gian-cach">
                            <div class="col-md-12 col-sm-12 offset-md-10">
                                <button id="btn-sua" class="btn btn-primary" type="button">Sửa</button>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>*@


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
@section scripts{
    <script src="@Url.ContentAssetAdmin("lib/build/js/custom.min.js",true)"></script>
    <script>
        $("#btn-sua").click(function (e) {
            $('#bodyTable :input').prop('disabled', function (i, v) { return !v; });
        });

        var functionClickDelete = function (e) {
            // disabled the submit button
            $(this).prop("disabled", true);
            var tmp = $(this);
            $.ajax({
                type: "POST",
                url: "http://localhost:8080deleteProduct",
                data: {
                    ID_PRODUCT: $(this).parent().parent().find('td:eq(1)').html()
                },
                success: function (data) {
                    if (data == "Success: true")
                        tmp.parent().parent().remove();


                },
                error: function (e) {

                    $(this).prop("disabled", false);

                }
            });
        }
    </script>
    <style type="text/css">
        #content-box {
            height: 500px;
            overflow: scroll;
        }

        a.deleteProduct {
        }
    </style>
}


